<% include head.ejs %>
<% include nav.ejs %>

<div class="container-fluid text-center white-colour">
    <h4><u>Created By:</u></h4>
    <div class="github-card" data-github="DavidAHazra" data-width="400" data-height="" data-theme="default"></div>
    <div class="github-card" data-github="ThomasBowers" data-width="400" data-height="" data-theme="default"></div>
    <p>For contact info see GitHub</p>
    <p>To find the script that 'solves' this problem check the GitHub</p>

    <h4><u>Special Thanks:</u></h4>
    <p>All the members of 31-42 that participated in the trial Durcrawl (December 2018)</p>

    <h4><u>Icons:</u></h4>
    <div>
        Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
            3.0 BY</a>
    </div>

    <div>
        Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim
            Basinski</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
            BY</a>
    </div>

    <div>
        Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
            3.0 BY</a>
    </div>
    <div>
        College images credit: Google Street view and Thomas Bowers
    </div>
</div>
<% include footer.ejs %>