<% include head.ejs %>
<% include nav.ejs %>
<div class="container-fluid">
    <div class="card-group">
        <div class="row">
            <div class="col-md-4">
                <div class="card-group">
                    <a href="/crawl" class="card bg-dark mycard-border text-white">
                        <div class="college-card-img">
                            <img class="card-img-top" src="/images/FullCrawl.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Full-College Crawl</h5>
                            <p class="card-text">Crawl through all 16 undergraduate college bars! The only crawl
                                to include St Hild & St Bede and Cuth's second bar</p>
                            <p class="card-text">
                                <small class="text-muted">Approximate Crawl Duration ~4hrs 30mins</small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-group">
                    <a href="/crawl/bailey" class="card bg-dark mycard-border text-white">
                        <div class="college-card-img">
                            <img class="card-img-top" src="/images/BaileyCrawl.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bailey College Crawl</h5>
                            <p class="card-text">Crawl through the 5 bailey colleges bars!</p>
                            <p class="card-text">
                                <small class="text-muted">Approximate crawl duration 1-2hrs</small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-group">
                    <a href="/crawl/hill" class="card bg-dark mycard-border text-white">
                        <div class="college-card-img">
                            <img class="card-img-top" src="/images/HillCrawl.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Hill College Crawl</h5>
                            <p class="card-text">Crawl through all the 9 hill college bars!</p>
                            <p class="card-text">
                                <small class="text-muted">Approximate crawl duration 3hrs</small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>