<div class="col-md-4">
    <div class="card-group">
        <div class="card bg-dark mycard-border text-white">
            <div class="college-card-img">
                <div id="map"></div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Map
                </h5>
            </div>
        </div>
    </div>
</div>