<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/images/beer.png" width="30" height="30" class="d-inline-block align-top" alt="">
        DurCrawl
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a <% if (title === 'home') { %>class="nav-link active"
                       <% } else{ %>class="nav-link"
                            <% } %>
                       href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a <% if (title === 'colleges') { %>class="nav-link active"
                       <% } else{ %>class="nav-link"
                            <% } %>
                       href="/colleges">Colleges</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Suggested Crawls
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/crawl">Full</a>
                        <a class="dropdown-item" href="/crawl/hill">Hill</a>
                        <a class="dropdown-item" href="/crawl/bailey">Bailey</a>
                        <a class="dropdown-item" href="/crawl/baileyplus">Bailey Plus</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a <% if (title === 'create') { %>class="nav-link active"
                       <% } else{ %>class="nav-link"
                            <% } %>
                       href="/create">Make-a-Crawl</a>
                </li>
                <li class="nav-item">
                    <a <% if (title === 'about') { %>class="nav-link active"
                       <% } else{ %>class="nav-link"
                            <% } %>
                       href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
