<div class="col-md-4">
    <div class="card-group">
        <div class="card bg-dark mycard-border text-white">
            <div class="college-card-img">
                <img class="card-img-top" src="/images/castle.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title"><%college[0][0]%></h5>
                <p class="card-text">Unknown</p>
            </div>
        </div>
    </div>
</div>