<% include head.ejs %>
<% include nav.ejs %>
<div class="container-fluid">
    <div class="card-group">
        <div class="row">
            <div class="col-md-4">
                <div class="card-group">
                    <div class="card bg-dark mycard-border text-white">
                        <div class="college-card-img">
                            <img class="card-img-top" src="/images/FullCrawl.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Full-College Crawl</h5>
                            <p class="card-text">Crawl through all 16 undergraduate college bars! The only crawl
                                to include St Hild & St Bede</p>
                            <p class="card-text">
                                <small class="text-muted">Approximate Crawl Duration ~4hrs 30mins</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-group">
                    <div class="card bg-dark mycard-border text-white">
                        <div class="college-card-img">
                            <img class="card-img-top" src="/images/BaileyCrawl.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bailey College Crawl</h5>
                            <p class="card-text">Crawl through the 5 bailey colleges bars!</p>
                            <p class="card-text">
                                <small class="text-muted">~~~~~~~~~~~~~</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-group">
                    <div class="card bg-dark mycard-border text-white">
                        <div class="college-card-img">
                            <img class="card-img-top" src="/images/HillCrawl.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Hill College Crawl</h5>
                            <p class="card-text">Crawl through the 8 hill college bars</p>
                            <p class="card-text">
                                <small class="text-muted">~~~~~~~~~~~~~~</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js" crossorigin="anonymous"></script>
    </body>
    </html>
